@model MVCkutuphane.Models.Entity.TBLKITAP
@{
    ViewBag.Title = "KitapGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("KitapGuncelle", "Kitap", FormMethod.Post))
{
    <div style="margin-bottom: 15px"></div>
    <div class="form-group">
        <div style="margin-top: 15px">
            <label>Kitap ID</label>
            @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        </div>
        <div style="margin-top: 15px">
            <label>Kitap Adı</label>
            @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
        </div>
        <div style="margin-top: 15px">
            <label>Kitap Kategorisi</label>
            @Html.DropDownListFor(k => k.TBLKATEGORI.ID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        </div>
        <div style="margin-top: 15px">
            <label>Yazar Adı</label>
            @Html.DropDownListFor(k => k.TBLYAZAR.ID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        </div>
        <div style="margin-top: 15px">
            <label>Basım Yılı</label>
            @Html.TextBoxFor(k => k.BASIMYIL, new { @class = "form-control" })
        </div>
        <div style="margin-top: 15px">
            <label>Yayın Evi</label>
            @Html.TextBoxFor(k => k.YAYINEVI, new { @class = "form-control" })
        </div>
        <div style="margin-top: 15px">
            <label>Sayfa Sayısı</label>
            @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control" })
        </div> 
        <input type="hidden" name="Durum" value="True" />
        <button class="btn btn-warning">Kitap Bilgileri Güncelle</button>
    </div>
}


